services:
  - type: web
    name: cjdquick-b2b-api
    env: python
    region: singapore
    plan: free
    branch: main
    rootDir: b2b/backend
    buildCommand: "pip install -r requirements.txt"
    startCommand: "uvicorn app.main:app --host 0.0.0.0 --port $PORT"
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: DATABASE_URL
        sync: false
      - key: SECRET_KEY
        sync: false
      - key: FRONTEND_URL
        value: https://b2b-eight-umber.vercel.app
